.game {
  max-width: 260px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  background: silver;
  padding: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: silver;
  padding: 3px 5px;
  border: 2px solid;
  border-color: #7d7d7d #fff #fff #7d7d7d;
  margin-bottom: 7px;
}

.status {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(../../../public/minesweeper-sprites.png) no-repeat;
}

.digitWrapper {
  display: flex;
  align-items: center;
}

.digit {
  width: 14px;
  height: 24px;
  background: url(../../../public/minesweeper-sprites.png) no-repeat;
}

.zero {
  background-position: -125px 0px;
}
